<footer class="bottom">
   <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© Basis Data Developer (Aab, Dwi, Hanif, Sam). All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
