{% extends 'layout/base.html' %}

{% block subtitle %} Daftar Organisasi {% endblock %}

{% block content %}

  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="">
          <div style="margin-top: 20px">
            <div class="col-md-12">
                <h3 class="">Form Pendaftaran Organisasi</h3>
            </div>
            <div class="container">
                <form action="{% url 'organisasi-create' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary" style="margin-top: 20px" type="submit" value="Submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        </div>
        <div class="col-md-6 ml-0" style="  background-image: linear-gradient(to bottom, rgb(18, 187, 173), rgb(18, 187, 173)); background-position: top left;  background-size: 100%;  background-repeat: repeat;">
          <div class="row mb-3">
            <div class="col-md-12">
              <h2 class="mb-2">Daftar organisasi </h2>
            </div>
          </div>
          <ul class="list-group">
            {% for org in orgs %}
            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center"> {{ org.0 }}
                
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}