{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}

    <div class="py-5" style="">
        <div class="container">
            <div style="margin-top: 20px">
                <div class="col-md-12">
                    <h3 class="">Update Event</h3>
                </div>
                <div class="container">
                    <form action="{% url 'event-update-post' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-primary" style="margin-top: 20px" type="submit" value="Submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
