{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}
  <div class="py-5">
    <div class="col-md-12">
          <h3 class="">Daftar Event Mahasiswa UI</h3>
        </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="">
          <ul class="list-group">
              {% for event in events %}
            <li class="list-group-item d-flex justify-content-between align-items-center"> {{ event.0 }} ({{ event.3 }}) </li>
              {% endfor %}
          </ul>
            <a href="{% url 'event-detail' %}" style="margin-top: 20px" class="btn btn-primary">Lihat detail</a>
        </div>
        <div class="col-md-5 offset-md-1" style="">
          <h4 class="">Daftarkan Event Anda!</h4>
          <h5 class="">Klik tombol dibawah untuk mendaftarkan event Anda!</h5>
          <form id="c_form-h" class="" style="">
              <a href={% url 'event-create' %} class="btn btn-primary">Daftarkan event</a>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
