{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}

    <div class="py-5" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="">

                    <div style="margin-top: 20px">
                        <div class="col-md-12">
                            <h3 class="">Form Pendaftaran Event</h3>
                        </div>
                        <div class="container">
                            <form action="{% url 'event-create' %}" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button class="btn btn-primary" style="margin-top: 20px" type="submit" value="Submit">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ml-0 rounded"
                     style="background-image: linear-gradient(to bottom, rgb(18, 187, 173), rgb(18, 187, 173));
                     background-position: top left;
                     background-size: 100%;
                     background-repeat: repeat;
                     padding: 20px;">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <h2 class="mb-2">Daftar event</h2>
                        </div>
                    </div>
                    <ul class="list-group">
                        {% for event in events %}
                            <li class="list-group-item d-flex text-center text-uppercase justify-content-between align-items-center">
                                <h5>
                                    {{ event.0 }} ({{ event.3 }})
                                </h5>
                                <div class="row mb-3">
                                    <div class="col-md-6"><a class="btn btn-secondary" href="{% url 'event_update' event.1 event.2%}">Update</a></div>
                                    <div class="col-md-6"><a class="btn btn-warning"
                                                             href="{% url 'event_delete' event.1 event.2 %}">Delete</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
