

{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}
 <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Cari Tingkatan/Kategori">
              <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scop="col">No <i class="fa fa-sort-asc"></i></th>
            <th scop="col">Logo</th>
            <th scop="col">Nama</th>
            <th scop="col">Email</th>
            <th scop="col">Website</th>
            <th scop="col">Tingkatan <i class="fa fa-sort"></i></th>
            <th scop="col">Kategori <i class="fa fa-sort"></i></th>
            <th scop="col">Deskripsi</th>
            <th scop="col">Contact</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-hoverisible">
            <th scope="row">1</th>
            <td>killme.jpg</td>
            <td>A</td>
            <td>B.C@D.com</td>
            <td>https://www.E.com/</td>
            <td>F</td>
            <td>G</td>
            <td>Hij</td>
            <td>K</td>
            
          </tr>
          <tr class="tr-hoverisible">
            <th scope="row">2</th>
            <td>killme.jpg</td>
            <td>A</td>
            <td>B.C@D.com</td>
            <td>https://www.E.com/</td>
            <td>F</td>
            <td>G</td>
            <td>Hij</td>
            <td>K</td>
            
          </tr>
          <tr class="tr-hoverisible">
            <th scope="row">3</th>
            <td>killme.jpg</td>
            <td>A</td>
            <td>B.C@D.com</td>
            <td>https://www.E.com/</td>
            <td>F</td>
            <td>G</td>
            <td>Hij</td>
            <td>K</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="#"> <span>«</span></a> </li>
            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#"> <span>»</span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
