

{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}

 <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Cari Tingkatan/Kategori">
              <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scop="col">No <i class="fa fa-sort-asc"></i></th>
            <th scop="col">Nama</th>
            <th scop="col">Tanggal Mulai</th>
            <th scop="col">Tanggal Berakhir</th>
            <th scop="col">Waktu</th>
            <th scop="col">Kapasitas</th>
            <th scop="col">Harga</th>
            <th scop="col">Lokasi</th>
            <th scop="col">Sifat Event</th>
            <th scop="col">Deskripsi</th>
            <th scop="col">Kategori <i class="fa fa-sort"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-hoverisible">
            <th scope="row">1</th>
            <td>A</td>
            <td>1 Januari 2019</td>
            <td>31 Desember 2020</td>
            <td>00.00 - 23.59</td>
            <td>9001</td>
            <td>Rp500,-</td>
            <td>B</td>
            <td>Umum</td>
            <td>C</td>
            <td>Keilmuan</td>
            <td>
              
              <a class="btn btn-primary btn-hoverisible" href="#">Update</a>
              <a class="btn btn-primary btn-hoverisible" href="#">Delete</a>
            </td>
          </tr>
          <tr class="tr-hoverisible">
            <th scope="row">2</th>
            <td>A</td>
            <td>1 Januari 2019</td>
            <td>31 Desember 2020</td>
            <td>00.00 - 23.59</td>
            <td>9001</td>
            <td>Rp500,-</td>
            <td>B</td>
            <td>Umum</td>
            <td>C</td>
            <td>Olahraga</td>
            <td>
              
              <a class="btn btn-primary btn-hoverisible" href="#">Update</a>
              <a class="btn btn-primary btn-hoverisible" href="#">Delete</a>
            </td>
          </tr>
          <tr class="tr-hoverisible">
            <th scope="row">3</th>
            <td>A</td>
            <td>1 Januari 2019</td>
            <td>31 Desember 2020</td>
            <td>00.00 - 23.59</td>
            <td>9001</td>
            <td>Rp500,-</td>
            <td>B</td>
            <td>Privat</td>
            <td>C</td>
            <td>Seni</td>
            <td>
              
              <a class="btn btn-primary btn-hoverisible" href="#">Update</a>
              <a class="btn btn-primary btn-hoverisible" href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="#"> <span>«</span></a> </li>
            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#"> <span>»</span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
