{% extends 'layout/base.html' %}

{% block subtitle %} Masuk {% endblock %}

{% block content %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style=" background-image: linear-gradient(to bottom, rgb(255, 255, 102), rgb(255, 255, 102)); background-position: top left;  background-size: 100%;  background-repeat: repeat;">
          <div class="col-md-12">
            <h3 class="">Organisasi</h3>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio <span class="badge badge-primary badge-pill">14</span> </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span> </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
              <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            </ul><a class="btn btn-primary mt-3 d-flex text-center" href="/org-detail">Lihat Semua Organisasi</a>
          </div>
        </div>
        <div class="col-md-4" style=" background-image: linear-gradient(to bottom, rgb(255, 204, 0), rgb(255, 204, 0)); background-position: top left;  background-size: 100%;  background-repeat: repeat;">
          <h3 class="">Kepanitiaan</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio <span class="badge badge-primary badge-pill">14</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
          </ul><a class="btn btn-primary mt-3 d-flex text-center" href="/panitia-detail">Lihat Semua Kepanitiaan</a>
        </div>
        <div class="col-md-4 pb-3" style="  background-image: linear-gradient(to bottom, rgb(255, 153, 51), rgb(255, 153, 51)); background-position: top left;  background-size: 100%;  background-repeat: repeat;">
          <h3 class="">Event</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio <span class="badge badge-primary badge-pill">14</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
          </ul><a class="btn btn-primary mt-3 d-flex text-center" href="/event-detail">Lihat Semua Event</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}